@import "tailwindcss";

@theme{
    --color-background: #222222;
    --color-background-hover: #2a2a2a;
    --color-border:#333333;
    --color-text:#eeeeee;
    --color-text-light:#aaaabb;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-background);
}

::-webkit-scrollbar-thumb {
    background: var(--color-text-light);
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-text);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
