@import "tailwindcss";

@theme{
    --color-background: #222222;
    --color-background-hover: #2a2a2a;
    --color-border:#333333;
    --color-text:#eeeeee;
    --color-text-light:#aaaabb;


    --color-player-bg:#23272b;
    --color-player-border:#15171a;
    --color-player-eq-bg:#18191b;
    --color-player-accent:#b0b5c0;
    --color-player-text-info: #999999;
    --color-player-text-disabled: #1c6977;
    --color-player-text-muted: #28c0db;
    --color-player-text-highlight: #00ffcc;
    --color-player-divider: #2d3137;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-background);
}

::-webkit-scrollbar-thumb {
    background: var(--color-text-light);
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-text);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
