@import "tailwindcss";

/* 1. Theme-Variablen & Farbschemata */
@layer base {
    :root, [data-theme="dark"] {
        --theme-bg: #121212;
        --theme-panel: #1e1e1e;
        --theme-border: #333333;
        --theme-text: #e0e0e0;
        --theme-muted: #757575;
        --theme-accent: #3b82f6;
        --theme-glow: #3b82f6aa;
    }

    [data-theme="orange"] {
        --theme-bg: #471d01;
        --theme-panel: #301402;
        --theme-border: #df7c2a;
        --theme-text: #ffffff;
        --theme-muted: #b8ada0;
        --theme-accent: #eb6d14;
        --theme-glow: rgb(246 239 232 / 0.53);
    }

    [data-theme="green"] {
        --theme-bg: #050b05;
        --theme-panel: #0d1a0d;
        --theme-border: #00ff41;
        --theme-text: #00ff41;
        --theme-muted: #008f11;
        --theme-accent: #00ff41;
        --theme-glow: #00ff41aa;
    }

    [data-theme="light"] {
        --theme-bg: #ffffff;
        --theme-panel: #aaaaaa;
        --theme-border: #222222;
        --theme-text: #445566;
        --theme-muted: #111111;
        --theme-accent: #444444;
        --theme-glow: #888888;
    }

}

/* 2. Zuweisung an Tailwind v4 Utilities */
@theme {
    --color-theme-bg: var(--theme-bg);
    --color-theme-panel: var(--theme-panel);
    --color-theme-border: var(--theme-border);
    --color-theme-text: var(--theme-text);
    --color-theme-muted: var(--theme-muted);
    --color-theme-accent: var(--theme-accent);
    --color-theme-glow: var(--theme-glow);
}

/* 3. Basis-Restyling */
body {
    background-color: var(--theme-bg);
    color: var(--theme-text);
    font-family: monospace;
}

/* Custom Retro Scrollbar für die gesamte App */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--theme-border) var(--theme-bg);
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: var(--theme-bg);
    border-left: 1px solid var(--theme-border);
}

*::-webkit-scrollbar-thumb {
    background: var(--theme-border);
    border-radius: 0;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--theme-accent);
}